@model vjezba5.Models.PatientModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Oib)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Oib)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mbo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mbo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedicalDiagnosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalDiagnosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Oib">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
